name: test.yml
on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: |
          make install-python-requirements
          cd 2021
          python3 -m venv .
          source ./bin/activate
          pip install -r requirements.txt
          pip list | grep osib
